@using QAD_User_Review.ViewModels
@model List<FileModel>

@{
    ViewData["Title"] = "IT Quality and Compliance";
}

<h3 class="page-title">IT Quality and Compliance</h3>

<div class="card">
    <div class="card-header bg-success text-uppercase text-white text-center card-header-slim">
        <h6>Documentation List</h6>
    </div>
    <div class="doc-table-wrapper">
        <table class="table table-striped table-sm mb-0">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (FileModel file in Model)
                {
                    <tr>
                        <td>@file.FileName</td>
                        <td>@Html.ActionLink("Download", "DownloadFile", new { fileName = file.FileName })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
