html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    white-space: nowrap;
    line-height: 40px;
}


.IndexDiv {
    position: relative;
    background: linear-gradient(to right,#F9F9F9,#F9F9F9);
    left: 10%;
    margin-top: 0%;
    min-height: 100%;
    min-width: 80%;
    width: 800px;
    height: 800px;
    overflow: auto;
}

.flex-parent-element {
    display: flex;
    width: 100%;
}

.flex-child-element {
    flex: 1;
    margin: 10px;
    border-radius:20px;
}

    .flex-child-element:first-child {
        margin-right: 20px;
    }



.CodesTable table {
    width: 100%
}

.CodesTable thead {
    width: calc(100%);
}

.CodesTable tbody {
    display: block;
    height: 320px;
    width:calc(100%);
    overflow-y: scroll;
    overflow-x: hidden;
}

    .CodesTable thead, .CodesTable tbody tr{
        display: table;
        width: 100%;
        table-layout: fixed;
    }

.CodesTable thead, .CodesTable tbody, .CodesTable td {
    border: none !important;
  
}


td.yes {
    background-color: green;
}

td.no {
    background-color: red;
}
.wait-cursor {
    cursor: wait;

}


.tableFixHead {
    overflow: auto;
    height: 100px;
}
tableFixHead table {
    width: 100%
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}
    .tableFixHead tbody {
        width: calc(100%);
       
        height: 320px;
        overflow-y: scroll;
        overflow-x: hidden;
    }


tbody {
    display: block;
    height: 50px;
    overflow: auto;
}

    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed; /* even columns width , fix width of table too*/
    }

thead {
    width: calc( 100% - 1em ) /* scrollbar is average 1em/16px width, remove it from thead width */
}


.small-label {
    font-size: smaller;
}
