.container {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 50px;
}

form {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

button[type="submit"] {
    display: block;
    margin-top: 25px;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M5.293 7.293a1 1 0 0 0 0 1.414l6.3 6.3a1 1 0 0 0 1.414 0l6.3-6.3a1 1 0 1 0-1.414-1.414L12 12.586l-5.293-5.293a1 1 0 0 0-1.414 0z" fill="%23525252"/></svg>');
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    padding-right: 30px;
